<h1>About Five for Five</h1>

<div>Five for Five is a charity to help those impacted by COVID-19. I, Burns Beaver, am a below average golfer, and want to use it to raise money!
    Everyday at 5PM (May start a little late some days), 
    I will be playing 5 golf holes to help raise money. Join my instagram at 5PM EST to participate!</div>

<h3>Instagram: <a target="_blank" href="https://www.instagram.com/leaveittoburns/">@leaveittoburns</a></h3>


<h3>Rules:</h3>

<ul>
    <li>1. For every Birdie, every viewer donates <strong>5 dollars</strong></li>
    <li>2. For every Double Bogey (or worse), I donate <strong>1 dollar per viwer</strong></li>
    <li>3. Have fun!</li>

</ul>