<mat-toolbar color="primary">
  <mat-toolbar-row>
    <h2>Five at Five!</h2>
    <div *ngIf="isMobile; else mobile">
      <a mat-button [routerLink]="'/about'">About</a>
      <a mat-button [routerLink]="'/statistics'">Statistics</a>
      <a mat-button [routerLink]="'/pledges'"> Pledges </a>
      <a mat-button target="_blank"  href="https://www.gofundme.com/f/5at5-fundraiser">Donate</a>
    </div>
    <ng-template #mobile>
      <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
        <mat-icon>more_vert</mat-icon>
      </button>

    </ng-template>
    
  </mat-toolbar-row>
</mat-toolbar>

<div class="content">
  <router-outlet></router-outlet>
</div>


<mat-menu #menu="matMenu">
        <button [routerLink]="'/about'" mat-menu-item>
          <span>About</span>
        </button>
        <button [routerLink]="'/statistics'" mat-menu-item>
          <span>Statistics</span>
        </button>
        <button [routerLink]="'/pledges'" mat-menu-item>
          <span>Pledges</span>
        </button>
        <button target="_blank"  href="https://www.gofundme.com/f/5at5-fundraiser" mat-menu-item>
          <span>Donate</span>
        </button>
      </mat-menu>