<h3>Pledges</h3>

<div>To make custom pledges, please message me directly through any social media</div>

<ul>
    <li>David Harvey: <strong>$5</strong> for every par made in April</li>
    <li>Drew Beaver: <strong>$10</strong> for every up and down for par</li>
    <li>Drew Beaver: <strong>$100</strong> for every approach shot inside the flagstick</li>
    <li>Parker Draughon: <strong>$20</strong> for every ball I top</li>
    <li>Clark Alcorn: <strong>$10</strong> every 5at5 with 3 or more greens hit in regulation</li>

</ul>


<h4>Hole in one challenge!</h4>
<ul>
    <li>Carter Draughon: $100</li>
    <li>TJ Martinez: $100</li>
    <li>Drew Beaver: $1,000</li>
</ul>


<h5>Carter Draughon Pledges...</h5>

<ul>
    <li><strong>$5</strong> for every tree hit</li>
    <li><strong>$5</strong> for every hawk or falcon I see</li>
    <li><strong>$10</strong> for every snake or eagle</li>
</ul>


